<%- include("header") -%>

<h2>This is the about page</h2>

<p>This is a todolist in which you can add different tasks and also click the check box them once they are done.
    The todolist uses mongodb to store the tasks and deletes the tasks when the checkbox is clicked. 
</p>

<%- include("footer") -%>